{% extends "base.html" %}
{% block title %}Bike Parking{% endblock %}
{% block head %}
    <script src="{{static_base}}js/landing.js"></script>
{% endblock %}
{% block content %}
<span ng-controller="MapCtrl" ng-init="initialize(46.073, -100.546, 3)">
    <form id='find-address' class='form-inline text-center' ng-controller='AddressCtrl' ng-submit='addAddressMarker()'>
        <div class='form-group'>
            <input class='form-control' type='text' ng-model='address' placeholder='Address' >
        </div>
        <div class='form-group'>
            <button class='btn btn-primary'>Find Bike Parking</button>
        </div>
    </form>
    <div id="map-canvas"/>
</span>
{% endblock %}
{% block popup %}
{% endblock %}
